.placeholder {
  display: inline-block;
  flex: none;
  width: 32px;
  height: 32px;
}

.button {
  display: inline-flex;
  flex: none;
  align-items: center;
  justify-content: center;
  width: 32px;
  height: 32px;
  padding: 0;
  color: var(--dsw-alias-label-secondary);
  background: transparent;
  border: none;
  border-radius: 8px;
  cursor: pointer;
}

.button:hover {
  color: var(--dsw-alias-label-primary);
  background: var(--dsw-alias-interactive-bg-hover);
}

.icon {
  transform: scaleX(-1);
}
